{:paths ["src/main/clojure"]

 ;; External dependencies
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        thheller/shadow-cljs {:mvn/version "2.19.6"}
        re-frame/re-frame {:mvn/version"1.2.0"}

        ;; A promise library.
        funcool/promesa {:mvn/version "8.0.450"}

        ;; Data-driven schemas.
        metosin/malli {:git/url "https://github.com/metosin/malli.git"
                       :sha "aa979c1fe0df622f6962720d14578d88bc543546"}

        ;; Function instrumentation using Malli schemas.
        com.crypticbutter/snoop {:mvn/version "21-353-alpha"}

        ;; Force re-frame to use the latest Reagent version. The latest
        ;; release also removes lots of compiler warnings and support
        ;; React 17.0.2.
        reagent/reagent {:mvn/version "1.1.1"}

        ;; Compose Tailwind classes using data.
        rgm/tailwind-hiccup {:mvn/version "0.2.0"}

        ;; Client-side routing.
        bidi/bidi {:mvn/version "2.1.6"}
        kibu/pushy {:mvn/version "0.3.8"}

        ;; Data browser/inspector (only used for development).
        djblue/portal {:mvn/version "0.28.0"}

        ;; An effect handler for AJAX calls.
        day8.re-frame/http-fx {:mvn/version "0.2.4"}

        ;; A graph based visualization tool for re-frame event chains.
        org.clojars.ertucetin/re-frame-flow {:mvn/version "0.1.4"}
        day8.re-frame/tracing {:mvn/version "0.6.2"}
        day8.re-frame/re-frame-10x {:mvn/version "1.4.1"}}

 :aliases
 {:lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2022.06.22"}}
   :main-opts  ["-m" "clj-kondo.main" "--lint" "src"]}

  :format
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.2"}}
   :main-opts ["-m" "cljfmt.main"]}

  ;; Visualize dependencies.
  :graph-deps
  {:replace-paths []
   :replace-deps  {org.clojure/tools.deps.graph {:mvn/version "1.1.68"}}
   :main-opts     ["-m" "clojure.tools.deps.graph"]
   :ns-default    clojure.tools.deps.graph
   :exec-fn       graph
   :exec-args     {:output ".cache/project-dependencies-graph.png"
                   :size   true}}

  ;; Carve - search through code for unused vars and remove them.
  :unused
  {:extra-deps {borkdude/carve
                {:git/url "https://github.com/borkdude/carve"
                 :sha     "df552797a198b6701fb2d92390fce7c59205ea77"}}
   :main-opts ["-m" "carve.main" "--opts" "{:paths [\"src\"] :dry-run true}"]}


  ;; Report project dependencies that have newer versions available.
  :outdated
  {:replace-paths []
   :replace-deps  {com.github.liquidz/antq {:mvn/version "1.9.867"}
                   org.slf4j/slf4j-nop     {:mvn/version "1.7.36"}}
   :main-opts     ["-m" "antq.core"]}}

 ;; Provider attributes
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}}
